- url_for_form = @task.new_record? ? minute_tasks_path(@task.minute) : nil
= form_for(@task, :url => url_for_form, :method => 'put') do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:

      %ul
        = @task.errors.full_messages.each do |msg|
          %li
            = msg
      

  .task_div
    = f.text_area :description, :class => 'taskDescription'
    .div_dates
      = f.text_field :due_date, :class => 'date_input'
    .div_people
      %a{:href => '#'}
        %span
          %b
            JoseLuis
      %span
        %a.action_add_people{:href => '#'}
          Attach people
  .actions_buttons{:style => 'float:right;height:50px;padding-right:30px;'}
    - if f.object.new_record?
      = f.submit :class => 'submitSaveIt', :value => ''
    - else
      = f.submit 'Save this action item'
      or
      %a{:href => '#', :class => 'cancel_action', :data_link =>@task.id.to_s, :style => 'color:#CC3300;font-size:0.8em;'}
        Cancel