= form_for(@task) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:

      %ul
        = @task.errors.full_messages.each do |msg|
          %li
            = msg
      

  .task_div
    = f.text_area :description, :class => 'taskDescription'
    .div_dates
      = f.text_field :due_date, :class => 'date_input'
    .div_people
      %a{:href => '#'}
        %span
          %b
            JoseLuis
      %span
        %a.action_add_people{:href => '#'}
          Attach people
  .actions_buttons{:style => 'float:right;height:50px;'}
    = f.submit :class => 'submitSaveIt', :value => ''