%div.previewMinute.content_inside_container
  %h1.headerMinuteList
    = 'Action Items for "' + @minute.name.to_s + '"'
  %div#tools{:style => 'float:right;padding-right:25px;'}
    = link_to 'Create a new Minute', new_minute_path
  .clear
  %div#showContent{:style => 'margin-top:25px;margin-right:20px;width:340px;height:400px;float:right;border:1px solid black;padding:10px;display:none;overflow:hidden;'}
  - widthContainer = '70%'
  %div{:style => 'float:left;width:'+widthContainer+';'}
    %ul.list_data
      %li
        %h1.headerMinute
          Default
      - @tasks.each do |task|
        %li
          %div.minute_container{:id => "minute_container_#{task.id.to_s}"}
            %div.tools_task
              = check_box_tag 'status_task', nil, task.status
              %a.edit_task_link{:href => '#',:data_link =>task.id.to_s, :style => 'padding-right:5px;'}
                Edit
              = link_to 'Trash', task, :confirm => 'Are you sure you want to delete this action item?', :method => :delete 
            %div.data_task
              - style_for_description = (task.status) ? 'text-decoration: line-through;' : ''
              %span{:style => style_for_description}
                = task.description
              %span{:style => 'display: inline-block;'}
                %a{:href => '#', :class => 'titleDateBubble'}
                  %span
                    = task.due_date.strftime("%d %b %Y")
          .clear
          %div.hide.mycontainer{:id => "minute_editor_#{task.id.to_s}",:style => 'width:600px;height:130px;margin-bottom:20px;padding:15px;margin-left:5px;'}
            - @task = task
            = render 'tasks/form', :object => @task
          
    .clear
    #frmContainer.mycontainer{:style => 'padding:15px;margin-left:5px;margin-top:20px;'}
      - @task = Task.new
      = render 'tasks/form', :object => @task