<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Created by:</b>
  <%= @task.created_by %>
</p>

<p>
  <b>Assign to:</b>
  <%= @task.assign_to %>
</p>

<p>
  <b>Due date:</b>
  <%= @task.due_date %>
</p>

<p>
  <b>Weight:</b>
  <%= @task.weight %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
