- @tasks = minute.tasks.that_are_available
- widthContainer = '70%'
%div{:style => 'float:left;width:'+widthContainer+';'}
  %ul.list_data{:data_link => minute.id.to_s}
    %li
      %h1.headerMinute
        Default
    - @tasks.each do |task|
      %li
        %div.minute_container{:id => "minute_container_#{task.id.to_s}"}
          = render 'tasks/shared/task_row', :task => task
                
        .clear
        %div.hide.mycontainer{:id => "minute_editor_#{task.id.to_s}",:style => 'width:600px;height:130px;margin-bottom:20px;padding:15px;margin-left:5px;'}
          - @task = task
          = render 'tasks/form', :object => @task, :get_people_names_assigned => @get_people_names_assigned
          
  .clear
  #actions_new_task{:style => 'background-color:#FFFF99;'}
    %a.open_form{:href => '#', :style => 'color:#FF0000;font-size:0.9em;', :data_link => "#{minute.id.to_s}"}
      Add new Action Item
  - minute_form = 'minute_form_' + minute.id.to_s
  #frmContainer.mycontainer.hide{:class => minute_form, :style => 'height:123px;padding:15px;margin-left:5px;margin-top:20px;margin-bottom:20px;'}
    %b
      Add New Action Item
    - @task = Task.new(:minute_id => minute.id)
    = render 'tasks/new_task', :object => @task , :get_people_names_assigned => @get_people_names_assigned
  .clear{:style => 'margin-bottom:10px;'}