%div.previewTask{:style => ''}
  %h1{:style => 'color:#000;font-size:1.5em;'}
    Please uncheck the action items that will be created from the minute.
  %h1.headerMinute
    = @minute.name
    %div#tools
      = link_to 'Edit Minute', edit_minute_path(@minute)
  .clear
  %div{:style => ''}
    = form_tag create_tasks_path do
      - @tasks.each do |task|
        %div#task_item_container
          %div#innerDiv
            %div#item_checkbox
              = check_box_tag 'task_ids[]', task.id, true
            %div#item_task
              - unless task.due_date.blank?
                %a{:href => '#', :class => 'dateBubble'}
                  %span
                    = task.due_date.strftime("%d-%m-%Y") 
              - unless task.assigned_name.blank?
                %a{:href => '#', :class => 'personBubble'}
                  %span
                    = task.assigned_name
              %div.task_content
                = truncate(task.description, :length => 70) 
      = submit_tag 'Save Changes', :style => 'margin-top:10px;'
