= form_for(@minute) do |f|
  .field{:style => 'float:left;width:510px;'}
    = f.text_field :name, :class => 'titleMinute', :style => 'width:495px;'
  %div#tip_text{:style => 'width:400px;float:right;'}
    - if @minute.errors.any?
      #error_explanation
        %ul
          - @minute.errors.full_messages.each do |msg|
            %li
              = msg
    %div#egDiv{:style => 'font-size:16px;text-align:center;'}
      = image_tag 'steps.png'
      %br
      
  .field{:style => 'float:left;width:510px;'}
    %br
    = f.text_area :content, :class => 'todoDescription', :style => 'height:300px;width:500px;'
    
  
  .actions_buttons{:style => 'float:left;width:500px;text-align:right;'}
    - if f.object.new_record?
      = f.submit :class => 'submitSaveIt', :value => '', :style => 'cursor:pointer;margin-top:15px;'
    - else
      %div{:style => 'color:#FFCC00;'}
        Would you like to regenerate tasks from this minute?
        = check_box_tag 'regenerateTasks', 1, true
        = f.submit :class => 'submitUpdateIt', :value => ''
  .clear