-########################## Dashboard #################################
%div.previewMinute.content_inside_container
  %h1.headerMinuteList
    = 'Current Action Items:'
  %div#showContent{:style => 'margin-top:25px;margin-right:20px;width:328px;height:400px;float:right;border:1px solid black;padding:10px;display:none;overflow:hidden;'}
  - widthContainer = (@minutes.count==0) ? '100%' : '100%'
  %div{:style => 'float:left;width:'+widthContainer+';'}
    - last_minute = nil
    %ul.list_data
      - @minutes.each do |minute|
        - div_content = "hide_content_#{minute.id.to_s}"
        - tasks_available = minute.tasks.that_are_available.count
        - tasks_completed = minute.tasks.that_are_available_and_done.count
        - tasks_pending = tasks_available - tasks_completed
        - if last_minute.blank? or (minute.created_at.to_date!=last_minute.created_at.to_date)
          %li
            %h1.headerMinute
              = minute.created_at.strftime("%A, %b %d")
        %li
          %div#minute_container{:style => ''}
            %div#image_minute
              = image_tag 'minute_pic.png'
            %div#data_minute
              %ul.list_data_minute
                %li
                  %div
                    %a{:href => '#', :class => 'titleBubble'}
                      %span{:style => ''}
                        = minute.name
                %li
                  = render 'tasks/shared/list_of_tasks', :minute => minute
        - last_minute = minute
      - if @minutes.count==0
        %span{:style => 'font-size:1.2em;'}
          = t('minute.no_minutes')
          %br
          Click on Create a Minute, yes there!
        %div#arrow_sign{:style => 'display:inline;'}
          = image_tag 'sign_left_arrow.png'
//   <td><%= link_to 'Show', minute %></td>
//    <td><%= link_to 'Edit', edit_minute_path(minute) %></td>
//   <td><%= link_to 'Destroy', minute, :confirm => 'Are you sure?', :method => :delete %></td>
