-########################## List of Minutes #################################
%div.previewMinute.content_inside_container
  %h1.headerMinuteList
    = 'Your Minutes:'
  %div#showContent{:style => 'margin-top:25px;margin-right:20px;width:340px;height:400px;float:right;border:1px solid black;padding:10px;display:none;overflow:hidden;'}
  - widthContainer = (@minutes.count==0) ? '100%' : '60%'
  %div{:style => 'float:left;width:'+widthContainer+';'}
    - last_minute = nil
    %ul.list_data
      - @minutes.each do |minute|
        - div_content = "hide_content_#{minute.id.to_s}"
        - tasks_available = minute.tasks.that_are_available.count
        - tasks_completed = minute.tasks.that_are_available_and_done.count
        - tasks_pending = tasks_available - tasks_completed
        - if last_minute.blank? or (minute.created_at.to_date!=last_minute.created_at.to_date)
          %li
            %h1.headerMinute
              = minute.created_at.strftime("%A, %b %d")
        %li
          %div#minute_container{:style => ''}
            %div#image_minute
              = image_tag 'minute_pic.png'
            %div#data_minute
              %ul.list_data_minute
                %li
                  .task_number{:style => ''}
                    - if tasks_available!=0
                      %a{:href => minute_tasks_path(minute), :class => 'task_counter'}
                        .pendingTasks
                          =  tasks_completed.to_s + ' of ' + tasks_available.to_s
                        .percentageTasks
                          = number_to_percentage((tasks_completed * 100)/tasks_available, :precision => 0)
                    - else
                      %a{:href => new_minute_task_path(minute), :class => 'add_task_minute'}
                        Add Task
                  .actions{:style=>'width:40px;height:19px;'}
                    %ul.minute_actions
                      %li
                        %a{:href => edit_minute_path(minute), :class => ''}
                          %span.image-wrapper
                            %i.editit
                      %li
                        %a{:href => "#",:data_minute =>"#{div_content}", :class => 'showMinuteContent'}
                          %span.image-wrapper
                            %i.showit
                  %div
                    %a{:href => '#', :class => 'titleBubble'}
                      %span{:style => ''}
                        = minute.name
                      
                  %div.hide{:id => div_content}
                    = simple_format(truncate(minute.content, :length => 750))
                    
                %li
                  %div.minute_text
                    = truncate(minute.content, :length => 70)
              
        - last_minute = minute
      - if @minutes.count==0
        = t('minute.no_minutes')
        %div#arrow_sign{:style => 'display:inline;'}
          = image_tag 'sign_arrow_right.png'
//   <td><%= link_to 'Show', minute %></td>
//    <td><%= link_to 'Edit', edit_minute_path(minute) %></td>
//   <td><%= link_to 'Destroy', minute, :confirm => 'Are you sure?', :method => :delete %></td>
