.insideLoginFrm
  %div.notice
    = notice
  %div.alert
    = alert
  = form_for resource, :as => resource_name, :html => {:id => 'loginFrm'}, :url => user_session_path do |f|
    %fieldset
      = label_tag 'emailaddress', 'email', :class => 'loginFrm loginemail'
      = f.email_field :email, :class => 'loginFrm'
      %br
      %br
      = label_tag 'password', 'password', :class => 'loginFrm loginpass'
      = f.password_field :password, :class => 'loginFrm'
      %br
      %br
      %a{:href => '#', :class => 'buttonSubmit loginSubmitBtn submit'}
        %span
          Login
  :javascript
    $(document).ready(function() {
      $("input#user_email.loginFrm").focus();
    });
  
  -#= f.submit "Sign in"
  -#= render :partial => "devise/shared/links"

