!!!
%html{:lang => 'en'}
  %head
    %title
      vulcanik - Beta
    %meta{:charset => 'utf-8'}
    = stylesheet_link_tag "reset.css", :media => "screen"
    = stylesheet_link_tag 'application.css', :media => 'screen'
    = stylesheet_link_tag "grid.css", :media => "screen"
    = stylesheet_link_tag "jquery.fancybox-1.3.4.css", :media => "screen"
    = stylesheet_link_tag "css/ui-lightness/jquery-ui-1.8.14.custom.css"
    
    = javascript_include_tag :defaults
    
    = javascript_include_tag "js/html5.js"
    -#= javascript_include_tag "js/jquery-1.6.min.js"
    
    = javascript_include_tag "js/cufon-yui.js"
    = javascript_include_tag "js/cufon-replace.js"
    = javascript_include_tag "js/Alido_400.font.js"
    = javascript_include_tag "js/hoverIntent.js"
    = javascript_include_tag "js/superfish.js"
    = javascript_include_tag "js/jquery.easing.1.3.js"
    = javascript_include_tag 'js/jquery-ui-1.8.14.custom.min.js'
    = javascript_include_tag 'js/requiredfield.js'
    
    = javascript_include_tag "js/fancybox/jquery.fancybox-1.3.4.pack.js"
    -#= javascript_include_tag 'application'
    = javascript_include_tag "js/blackpearl.js"
    = render :partial => '/layouts/all_metrics'
    = csrf_meta_tag
    
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

  %body{:id => "page1"}
    -#---------------------- HEADER -------------------------------
    .bg
      %header
        .row1
          .container_12
            .wrapper
              %a{:href => root_url}
                = image_tag 'logo_small.png', :style => 'float:left;padding-top:2px;' if user_signed_in?
              %ul.list
                - unless user_signed_in?
                  %li
                    = link_to "Login", sign_in_path, :id => 'login_link', :style => "color:#0F0;font-weight:bold;font-size:14px;"
                  %li
                    = link_to "Register", '#register', :id => 'onregister', :style => "color:#C30;font-weight:bold;font-size:14px;"
                - else
                  %li
                    = current_user.email
                  %li
                    = link_to "Log out", sign_out_path, :style => "color:#C30;font-weight:bold;font-size:12px;"
                %li.last
                  = link_to "Feedback", 'mailto:beta@vulcanik.com', :class => ''
        - unless user_signed_in?
          .row2
            .container_12
              .extra_wrap
                %h1
                  = link_to "&nbsp;", home_path
                %nav
                  %ul.sf-menu
                    %li.last
                      = link_to "Home", home_path, :class => 'active'
                    %li
                      = link_to "Features", features_path, :class => 'click_register'
                    %li.menu-activ
                      = link_to "Pricing", pricing_path, :class => 'click_register'
                    %li
                      = link_to "About", about_path, :class => 'click_register'
                    
              .clear
        - unless user_signed_in?
          .row3
            .container_12
              .bg5
                .padding
                  = yield
                
      -#-------------------content ------------------
      %section#content
        - if user_signed_in?
          #nav_tabs{:style => 'width:890px;margin-left:200px'}
            %ul#top_menu{:style => 'width:100%;'}
              - minutes_active = ''
              - create_minute_active = ''
              - dashboard_active = ''
              - if controller.controller_name=='minutes' and controller.action_name=='index'
                - minutes_active = 'active'
              - elsif controller.controller_name=='minutes' and controller.action_name=='new'
                - create_minute_active = 'active'
              - elsif controller.controller_name=='minutes' and controller.action_name=='dashboard'
                - dashboard_active = 'active'
              %li
                %a{:href => new_minute_path, :class => create_minute_active}
                  Create a minute
              %li
                %a{:href => dashboard_path, :class => dashboard_active}
                  Dashboard
          = yield
        - unless user_signed_in?
          .indent-bottom
            .container_12
              .wrapper.indent
                .grid_6.alpha
                  %h2.h2-bot1
                    Be successful, it's easy!
                  %div{:style => 'display:block;background-color:#FC0;padding:20px;'}
                    #register.popup
                      #contact_form
                        = form_tag('/register_email', :id => 'register') do
                          %fieldset
                            %span.beta
                              Looking for a better way to organize tasks?  Join our beta by entering your email below.
                            %br
                            = text_field_tag 'email', nil, :style => 'height:45px;width:270px;', :width => '255'
                            %a{:href => '#', :class => 'buttonSubmit'}
                              %span
                                Sign Up
                            = label_tag 'email', 'This field is required.', :id =>'email_error', :class => 'error'
                  %br
                  Our sets of products are asy to adopt. None likes to learn a new tool, you don't have to, try it.
                  %br
                  = link_to 'read more', '#', :class => 'link2 link2-pad click_register'
                .grid_6
                  %h2
                    Vulcanik Services:
                    .wrapper
                      .grid_3.alpha
                        %ul.list1.list1-top
                          %li
                            = link_to 'Blog', 'http://vulcanik.com/whynot/'
                          %li
                            = link_to 'About Us', '#', :class => 'click_register'
                          %li
                            = link_to 'Privacy Policy', '#', :class => 'click_register'
                          %li
                            = link_to 'Contact Us', '#', :class => 'click_register'
                          %li
                            = link_to 'We\'re hiring', '#', :class => 'click_register'
      -# ------------------- footer------------------
      %footer
        .container_12
          .box-1
            .foot-text
              Vulcanik &copy; 2011 All rights reserved
              %span
                |
              = link_to 'Privacy Policy', '#'
            .LINK
        
    :javascript
      Cufon.now();